*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:100vh;
    background-color: rgb(219, 84, 84);
   
}
.content{
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 0;
}
.col{
   max-width: 400px;
   max-height: 300px;
   padding: 30px; 
   border-radius: 4px;  
}
#first{
    background: blueviolet;
}
#second{
    background: red;
}
#third{
    background: green;
}
.col img{
    width: 50px;
}
.col h1{
    margin:25px 0;
    font-size: 18px;
    font-family: serif;
}
.col p{
    text-align: justify;
}
.col a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid rgb(243, 230, 230);
    margin-top: 20px;
    display: inline-block;
    border-radius: 25px;
}
@media(max-width:700px){
  .content{
    flex-direction: column;
  }  
}